* {
    box-sizing: border-box;
    font-family: monospace;
}

html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
  }

.container {
    border: 2px solid;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto auto;
    background-color: black;
}

.display {
     border: 1px solid;
    height: 100px;
    margin-bottom: 10px;
    font-size: xx-large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(171, 235, 210);
}

.row {
    display: flex;
    flex: auto;
}

button {
    flex: auto;
    border-radius: 5%;
    background-color: #b2b9b7;
}

#clear, #equal {
    flex-grow: 0;
    width: 125.33px;
    background-color: #ff8f1f;
}

.operator {
    background-color: #d92a2a;
}